label{
    font-family: 'Kanit';
    text-align: center;

}
Table.Cell{
    font-family: 'Kanit'

}
.row-table{
    justify-content: center;
    align-items: center;
}
#red{
    color: red;
    font-style: italic;

}
#green{
    color: green;
}
.table-score {
    size: 20px;
    text-align: center;
}
